@tailwind base;
@tailwind utilities;
@tailwind components;

::-webkit-scrollbar {
  background: #223741;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #223741;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6f2f1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
